.idea/
.pytest_cache/
pytest-env/
tests/.pytest_cache/
venv/
tests/api_tests/venv/
reports/
geckodriver.log
clear_cache.sh

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/
pytest-env

#
logs/
tests_log.txt
.pytest_cache/